<{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
        <link rel="stylesheet" href="{% static 'others/main.css' %}">
        <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
        <link href="jumbotron-narrow.css" rel="stylesheet">
        <title>Регистрация преподавателя</title>
    </head>
    <bode>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <a class="navbar-brand" href="{% url "store:users" %}">Выход</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url "store:groups" %}">Список секций</a></li>
            <li><a href="{% url "store:students" %}">Записавшиеся студенты</a></li>
            <li><a href="{% url "store:teachers" %}">Преподаватели</a></li>
          </ul>
        </div>
      </div>
    </div>
 <div class="container">
      <div class="jumbotron">
        <p class="lead"> 
    <link rel="stylesheet" href="{% static 'others/main.css' %}">
</head>
    <bode>
    <form method="POST">
    	{% csrf_token %}
    	{{ form.non_field_errors }}
        <table class="studentview" id="edit">
        	<tr>
        	<td>{{ form.fioTeacher.label_tag }}</td>
        	<td>{{ form.fioTeacher}}</td>
        	<td>{{ form.fioTeacher.errors }}</td>
        	</tr>
        	<tr>
        	<td>{{ form.sport.label_tag }}</td>
        	<td>{{ form.sport}}</td>
        	<td>{{ form.sport.errors }}</td>
        	</tr>
        	<tr>
        	<td>{{ form.contTeacher.label_tag }}</td>
        	<td>{{ form.contTeacher}}</td>
        	<td>{{ form.contTeacher.errors }}</td>
        	</tr>
        	<tr>
        	<td>{{ form.trackRecord.label_tag }}</td>
        	<td>{{ form.trackRecord}}</td>
        	<td>{{ form.trackRecord.errors }}</td>
        	</tr>
            <tr>
            <td>{{ form.grade.label_tag }}</td>
            <td>{{ form.grade}}</td>
            <td>{{ form.grade.errors }}</td>
            </tr>
             <tr>
            <td> <div id="editbutton">
                <input type="submit" value="Сохранить">
                <input type="reset" value="Очистить"> 
                    </div>     
            </td>
            </tr>
        </table>       
    </form>
     <ul class="pager">
                      <li><a href="{% url "store:teachers" %}">Назад к списку преподавателей</a></li>
    
        </ul> 
        </div>
        <div class="footer">
      <p>&copy; ИУ5-23М Цыберный Н.Н 2018</p>
    </div>  
    </bode>
</html>     
